
@charset "UTF-8";

/* @group Fonts */

@import 'fonts/cabinsketch/stylesheet.css'; 
@import 'fonts/Print-Clearly/stylesheet.css';

/* @end */

/* @group Clear Fix */

.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/*--- ie6*-----*/
* html .group {
	height: 1%;
}

/*----- ie7 -----*/
*:first-child+html .group {
	min-height: 1px;
}

/* @end */

/* @group General Styling */


footer {
	
}

div#footer_centre {
	
}

/* @end */

