
@charset "UTF-8";

/* @group Fonts */

@import 'fonts/cabinsketch/stylesheet.css'; 
@import 'fonts/Print-Clearly/stylesheet.css';

/* @end */

/* @group Clear Fix */

.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/*--- ie6*-----*/
* html .group {
	height: 1%;
}

/*----- ie7 -----*/
*:first-child+html .group {
	min-height: 1px;
}

/* @end */

/* @group General Styling */

body {
	width: 100%;
	background: #555555 url('../images/bg.jpg') no-repeat left top;
}

.container {
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
}

h1 {
	text-transform: uppercase;
	margin-bottom: .2em;
	text-shadow: 0 1px 1px rgba(96, 96, 90, 0.8);
	font: 3em/1em 'PrintClearlyRegular';
	color: #444;
}

h1.light {
	color: #FFF;
}

p {
	font-family: helvetica;
	font-size: 1em;
	line-height: 1.4em;
	color: #444;
}

p.light {
	color: #FFF;
}

/* @end */

/* @group Header */

header {
	position: fixed;
	top: 0;
	z-index: 2;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	padding-top: 20px;
}

#nav_logo {
	margin: 0 auto;
	max-width: 900px;
}

#logo {
	float: left;
	width: 120px;
	height: 30px;
	margin-left: 30px;
	margin-right: 20px;
	
}

nav ul {
	float: left;
	width: 400px;
	padding: 0;
	margin-left: 20px;
	margin-top: 30px;
	
}

nav li {
	list-style-type: none;
	display: block;
	float: left;
	font-size: .75em;
	margin-left: 15px;
	width: 80px;
}

nav li a {
	color: #FFF;
	text-decoration: none;
	opacity: .7;
	-webkit-transition: opacity 0.1s ease-in-out;
	-moz-transition: opacity 0.1s ease-in-out;
	transition: opacity 0.1s ease-in-out;
	padding-bottom: 8px;
}

nav li a:link {

}

nav li a:visited {

}

nav li a:hover {
	opacity: 1;
	color: #FFF;
}

li.active a {
	opacity: 1;
	border-bottom: 2px solid #FFF;
}

#subMenu {
	width: 100%;
	height: 30px;
	background-color: #FFF;
	position: fixed;
	top: 80px;
	z-index: 1;
	
}

#subMenu ul {
	width: 800px;
	background-color: red;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	
	
}

#subMenu ul li {
	display: block;
	float: right;
	margin-left: 30px;
}

/* @end */

/* @group Index */

div#home {
	
}

#sliderContainer {
	margin: 111px auto 20px auto;
	max-width: 900px;
}

#slider .slide {
	-webkit-background-size: contain;
	  -moz-background-size: contain;
	  -o-background-size: contain;
	  background-size: contain;
}

#slider .s1 {
	background: url('../images/test0.jpg') no-repeat left top;
}

#slider .s2 {
	background: url('../images/test1.jpg') no-repeat left top;
}

#slider .s3 {
	background: url('../images/test2.jpg') no-repeat left top;
}

#slider .s4 {
	background: url('../images/test3.jpg') no-repeat left top;
}

#slider .s5 {
	background: url('../images/test4.jpg') no-repeat left top;
}


div#home a {
	color: #fff;
	font-size: 1.5em;
	text-decoration: none;
	border-bottom: 1px dashed #fff;
	
}

div#home a:hover {
	color: #fdc269;
	border-bottom: 1px dashed #fc9c0b;
}

a.anchor {
	position: absolute;
	top: -250px
}

div#home h1 {
	margin-top: 0;
}

section .info {
	max-width: 900px;
	margin: 0 auto;
}

section .text {
	width: 380px;
	margin-left: 20px;
	float: left;
	border-bottom-left-radius: 60px;
	border-top-right-radius: 60px;
	
}

div .visuals {
	width: 350px;
	height: 350px;
	background-color: #fdc269;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	/*-moz-box-shadow: 3px 3px 9px rgba(109, 109, 95, 0.84);
	-webkit-box-shadow: 3px 3px 9px rgba(109, 109, 95, 0.84);
	box-shadow: 3px 3px 9px rgba(109, 109, 95, 0.84);*/
}

/* @end */

/* @group About */

section#about_contra {
	
}

section#about_contra .text {
	
}

section#about_contra p:first-of-type {
	font-size: 1.1em;
	font-weight: bold;
}

section#about_contra p:last-of-type {
	font-style: italic;
}

/*  ----------  webdesign section  --------------*/

section#web_design {
	
}

section#web_design .text {
	
}

section#web_design p:first-of-type {
	font-size: 1.1em;
	font-weight: bold;
}

section#web_design p:last-of-type {
	font-style: italic;
}

/*  ----------  seo section  --------------*/

section#seo {
	
}

section#seo .text {
	
}

section#seo p:first-of-type {
	font-size: 1.1em;
	font-weight: bold;
}

section#seo p:last-of-type {
	font-style: italic;
}

/* @end */

/* @group WebApp */

section#web_applications {
	
}

section#web_applications .text {
	
}

section#web_applications p:first-of-type {
	font-size: 1.1em;
	font-weight: bold;
}

section#web_applications p:last-of-type {
	font-style: italic;
}

/* @end */

/* @group Print Design */

section#print_design {
	
}

section#print_design .text {
	
}

section#print_design p:first-of-type {
	font-size: 1.1em;
	font-weight: bold;
}

section#print_design p:last-of-type {
	font-style: italic;
}

/* @end */

/* @group Photography */

section#photography {
	
}

section#photography .text {
	
}

section#photography p:first-of-type {
	font-size: 1.1em;
	font-weight: bold;
}

section#photography p:last-of-type {
	font-style: italic;
}

/* @end */

/* @group Profile */

section#about_adam {
	
}

section#about_adam .text {
	
}

section#about_adam p:first-of-type {
	font-size: 1.1em;
	font-weight: bold;
}

section#about_adam p:last-of-type {
	font-style: italic;
}

/* @end */

/* @group Contact */

section#contact {
	
}

section#contact .text {
	
}

section#contact p:first-of-type {
	font-size: 1.1em;
	font-weight: bold;
}

section#contact p:last-of-type {
	font-style: italic;
}

/* @end */

/* @group About Page*/

/*  ----------  about page  --------------*/

/* @end */

/* @group Profile Page */

/*  ----------  profile page  --------------*/

/* @end */

/* @group Web Design Page */

/*  ----------  webdesign page  --------------*/

/* @end */

/* @group SEO Page */

/*  ----------  seo page  --------------*/

/* @end */

/* @group WebApp Page */

/*  ----------  webapp page  --------------*/

/* @end */

/* @group Print Design Page */

/*  ----------  print design page  --------------*/

/* @end */

/* @group Contact Page */

/*  ----------  contact page  --------------*/

/* @end */

/* @group Blog Page */

/*  ----------  blog page  --------------*/

/* @end */

/* @group Footer */

footer {
	height: 100px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	color: #FFF;
	position: absolute;
	bottom: -160px;
	z-index: 2;
}

div#footer_centre {
	width: 950px;
	padding: 0 20px;
	margin: 0 auto;
}

/* @end */

