
@charset "UTF-8";

/* @group Fonts */

@import 'fonts/cabinsketch/stylesheet.css'; 
@import 'fonts/Print-Clearly/stylesheet.css';

/* @end */

/* @group Clear Fix */

.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/*--- ie6*-----*/
* html .group {
	height: 1%;
}

/*----- ie7 -----*/
*:first-child+html .group {
	min-height: 1px;
}

/* @end */

/* @group General Styling */

body {
	width: 100%;
}

.container {
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
}

h1 {
	text-transform: uppercase;
	margin-bottom: .2em;
	text-shadow: 0 1px 1px rgba(96, 96, 90, 0.8);
	font: 3em/1em 'PrintClearlyRegular';
	color: #444;
}

h1.light {
	color: #FFF;
}

p {
	font-family: helvetica;
	font-size: 1em;
	line-height: 1.4em;
	color: #444;
}

p.light {
	color: #FFF;
}

/* @end */

/* @group Header */

header {
	position: fixed;
	top: 0;
	z-index: 1;
	height: 60px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
}

#logo {
	position: absolute;
	top: 10px;
	left: -20px;
	width: 120px;
	height: 45px;
	margin-left: 90px;
	background: url('../images/contra-logo.png') no-repeat left top;
}

nav {
	margin-top: 20px;
	padding-top: 0;
	float: left;
}

nav ul {
	
}

nav li {
	list-style-type: none;
	display: block;
	float: left;
	font-size: .75em;
	margin-right: 15px;
	width: 80px;
}

nav li a {
	color: #FFF;
	text-decoration: none;
	margin: 10px 10px;
	opacity: .7;
	-webkit-transition: opacity 0.1s ease-in-out;
	-moz-transition: opacity 0.1s ease-in-out;
	transition: opacity 0.1s ease-in-out;
}

nav li a:link {

}

nav li a:visited {

}

nav li a:hover {
	opacity: 1;
	border-bottom: none;
	color: #FFF;
}

/*li.active a {
	opacity: 1;
}*/

/* @end */

/* @group Index */

div#home {
	
}

div#home a {
	color: #fff;
	font-size: 1.5em;
	text-decoration: none;
	border-bottom: 1px dashed #fff;
	
}

div#home a:hover {
	color: #fdc269;
	border-bottom: 1px dashed #fc9c0b;
}

a.anchor {
	position: absolute;
	top: -250px
}

div#home h1 {
	margin-top: 0;
}

#home .point {
	width: 100%;
	height: 53px;
	position: absolute;
	top: -52px;
	z-index: 1;
}

section .info {
	width: 900px;
	padding: 30px;
	margin: 0 auto;
}

section .text {
	width: 380px;
	padding: 20px;
	margin-bottom: 100px;
	margin-top: 10px;
	float: left;
	border-bottom-left-radius: 60px;
	border-top-right-radius: 60px;
	
}

div .visuals {
	width: 400px;
	height: 450px;
	margin-top: 15px;
	margin-bottom: 80px;
	/*background-color: #fffefe;*/
	float: right;
	/*-moz-box-shadow: 3px 3px 9px rgba(109, 109, 95, 0.84);
	-webkit-box-shadow: 3px 3px 9px rgba(109, 109, 95, 0.84);
	box-shadow: 3px 3px 9px rgba(109, 109, 95, 0.84);*/
}

section .text.odd {
	float: right;
}

div .visuals.odd {
	float: left;
}

/*section#strapline {
	margin-top: 100px;
	background-color: black;
	height: 150px;
}*/

/* @end */

/* @group About */

div#about_contra_point {
	background: url('../images/backgrounds/background1_point.png') no-repeat center top;
}
section#about_contra {
	background: url('../images/backgrounds/background1.jpg') repeat center top #f5f5f5;
	position: relative;
	margin-top: 230px;
}

section#about_contra .text {
	
}

section#about_contra p:first-of-type {
	font-size: 1.1em;
	font-weight: bold;
}

section#about_contra p:last-of-type {
	font-style: italic;
}

/*  ----------  webdesign section  --------------*/

div#web_design_point {
	background: url('../images/backgrounds/background3_point.png') no-repeat center top;
}
section#web_design {
	background: url('../images/backgrounds/background3.jpg') repeat center top #f5f5f5;
	position: relative;
}

section#web_design .text {
	
}

section#web_design p:first-of-type {
	font-size: 1.1em;
	font-weight: bold;
}

section#web_design p:last-of-type {
	font-style: italic;
}

/*  ----------  seo section  --------------*/

div#seo_point {
	background: url('../images/backgrounds/background1_point.png') no-repeat center top;
}
section#seo {
	position: relative;
	background: url('../images/backgrounds/background1.jpg') repeat center top #f5f5f5;
}

section#seo .text {
	
}

section#seo p:first-of-type {
	font-size: 1.1em;
	font-weight: bold;
}

section#seo p:last-of-type {
	font-style: italic;
}

/* @end */

/* @group WebApp */

div#web_applications_point {
	background: url('../images/backgrounds/background2_point.png') no-repeat center top;
}
section#web_applications {
	background: url('../images/backgrounds/background2.jpg') repeat center top #f5f5f5;
	position: relative;
}

section#web_applications .text {
	
}

section#web_applications p:first-of-type {
	font-size: 1.1em;
	font-weight: bold;
}

section#web_applications p:last-of-type {
	font-style: italic;
}

/* @end */

/* @group Print Design */

div#print_design_point {
	background: url('../images/backgrounds/background3_point.png') no-repeat center top;
}
section#print_design {
	background: url('../images/backgrounds/background3.jpg') repeat center top #f5f5f5;
	position: relative;
}

section#print_design .text {
	
}

section#print_design p:first-of-type {
	font-size: 1.1em;
	font-weight: bold;
}

section#print_design p:last-of-type {
	font-style: italic;
}

/* @end */

/* @group Photography */

div#photography_point {
	background: url('../images/backgrounds/background1_point.png') no-repeat center top;
}
section#photography {
	background: url('../images/backgrounds/background1.jpg') repeat center top #f5f5f5;
	position: relative;
}

section#photography .text {
	
}

section#photography p:first-of-type {
	font-size: 1.1em;
	font-weight: bold;
}

section#photography p:last-of-type {
	font-style: italic;
}

/* @end */

/* @group Profile */

div#about_adam_point {
	background: url('../images/backgrounds/background2_point.png') no-repeat center top;
}
section#about_adam {
	background: url('../images/backgrounds/background2.jpg') repeat center top #f5f5f5;
	position: relative;
}

section#about_adam .text {
	
}

section#about_adam p:first-of-type {
	font-size: 1.1em;
	font-weight: bold;
}

section#about_adam p:last-of-type {
	font-style: italic;
}

/* @end */

/* @group Contact */

div#contact_point {
	background: url('../images/backgrounds/background2_point.png') no-repeat center top;
}
section#contact {
	background: url('../images/backgrounds/background1.jpg') repeat center top #f5f5f5;
	position: relative;
}

section#contact .text {
	
}

section#contact p:first-of-type {
	font-size: 1.1em;
	font-weight: bold;
}

section#contact p:last-of-type {
	font-style: italic;
}

/* @end */

/* @group About Page*/

/*  ----------  about page  --------------*/

/* @end */

/* @group Profile Page */

/*  ----------  profile page  --------------*/

/* @end */

/* @group Web Design Page */

/*  ----------  webdesign page  --------------*/

/* @end */

/* @group SEO Page */

/*  ----------  seo page  --------------*/

/* @end */

/* @group WebApp Page */

/*  ----------  webapp page  --------------*/

/* @end */

/* @group Print Design Page */

/*  ----------  print design page  --------------*/

/* @end */

/* @group Contact Page */

/*  ----------  contact page  --------------*/

/* @end */

/* @group Blog Page */

/*  ----------  blog page  --------------*/

/* @end */

/* @group Footer */

footer {
	height: 100px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	color: #FFF;
	box-shadow: 0 -3px 5px rgba(68, 68, 68, 0.8);
	position: absolute;
	z-index: 2;
}

div#footer_centre {
	width: 950px;
	padding: 0 20px;
	margin: 0 auto;
}

/* @end */

